<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About us</h2>
                </div>
            </div>
            <p class="large text-muted">
                Men's Vocal Ensemble Gregorianum was founded in 2005. Gregorianum specializes in early music, both religious and secular. The group gained recognition during early-music festivals: Early Music Festival in Szczecin, Festival of Monophonic Chant in Płock, Early Music Festival in Stary Sącz or Nordisk festival för Medeltida Musik in Söderköping (Sweden).
            </p>
            <p class="large text-muted">
                The group has been a laureate of the following competitions: Ars Liturgica in Gniezno - Grand Prix, Competition of Waclaw z Szamotuly - 1st place, 61st International Polyphonic Contest in Arezzo - Audience Award and recently main prize - Amber Harp of Eol on biggest early music festival Schola Cantorum in Kalisz. Gregorianum regularly gives concerts around Poland, very often with the company of recognized early music musicians, and participates in masterclasses held by Professor Elzbieta Wtorkowska, Professor Cezary Szyfman, Marcin Bornus-Szczycinski and Paul Esswood. 
            </p>

            <p class="large text-muted">
                Gregorianum has for the past few years been working on discovering and recovering early music for contemporary audiences. In 2013-2015 group has recorded pieces that hasn't been heard for more than three centuries, from the repertoire of the Krakow-based Rorantists' Kapelle, the royal ensemble in the Wawel court which began in 1543. Recently ensemble is working on Jesuits compositions from Collegium Hosianum which were taken away during Swedish Deluge in mid of 17th century.
            </p>

            <p class="large text-muted">
                Since the beginning the group has been conducted by Berenika Jozajtis, a graduate of choir conducting at the Frederic Chopin Academy of Music in Warsaw, in the class of Professor Henryk Wojnarowski.
            </p>
        </div>
    </section>