<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Concerts</h2>
                </div>
            </div>
            
            {% for post in site.categories.concerts %}
            <div class="row margin-left">
                <h5 class="text-muted">{{ post.concert-date }}</h5>
                <h3>{{ post.title }}</h3>
                <h4 class="text-muted">{{ post.description }}</h4>
                <h5 class="text-muted">{{ post.place }}<br>{{ post.city }}</h5>
            </div>
            {% endfor %}
        </div>
    </section>