<!-- Team Section -->
    <section id="media" class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Media</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-subheading text-muted">Audio</h2>
                    <div id="audio">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-subheading text-muted">Photographs</h2>
                        <div class="row"> 
                                <div class="column">
                                  <img src="/../img/photo/gregorianum_1_Boy_Svedberg.jpg" style="width:100%">
                                  <img src="/../img/photo/gregorianum_2_Boy_Svedberg.jpg" style="width:100%">
                                </div>
                                <div class="column">
                                    <img src="/../img/photo/Gregorianum_3_Jaroslaw_Budzynski.jpg" style="width:100%">
                                    <img src="/../img/photo/Gregorianum_4_Jaroslaw_Budzynski.jpg" style="width:100%">
                                    <img src="/../img/photo/gregorianum_3_Boy_Svedberg.jpg" style="width:100%">
                                </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>